.section {
  width: 840px;
  background: #1C1C21;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
  margin-bottom: 20px;
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.name {
  display: flex;
  flex-direction: row;
}

.num {
  position: absolute;
  right: 4px;
  top: 20px;
  z-index: 1;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 56px;
}

.picts {
  display: flex;
}

.pict {
  display: flex;
  width: 64px;
  height: 64px;
  min-width: 64px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background: linear-gradient(to right, #801AB2, #4C4CFF);
}

.pict::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background-color: #131316;
  pointer-events: none;
  border-radius: 50%;
}

.pict+.pict {
  margin-left: -18px;
}

.pict:nth-child(1) {

}

.pict:nth-child(2) {

}

.pict:nth-child(3) {

}

.pict:nth-child(4) {

}

.pict:nth-child(5) {

}

.pict:nth-child(6) {

}

.img {
  max-height: 56px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}